<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>1</key>
            <string>F:\FOI\7_semestar\DP\projekt\inform7--interactive-fiction-game\EntForest.materials\Cover.png</string>
            <key>3</key>
            <string>Figures\map.png</string>
        </dict>
    </dict>
</plist>
